[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST=rabbitmq-dev.easydevops.online
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=DISPATCH_APP_PASSWORD
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target